@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="display-4">@ViewData["Title"]</h1>

<p>At Megapixel Ventures we store the information specifically given to us to store and nothing else.
    We do not track any users, we only store information entered on the AddDisaster Page.


</p>
