@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="display-4">@ViewData["Title"]</h1>

<p>At Megapixel Ventures we only store information entered on our AddDisasters page.
No other trackers are used, and no other user input is stored. Nothing entered in the AddDisasters page will ever be sold.

</p>
