@page
@model PuccioPages.Pages.GetCIDModel
@{
}
<h1>City Details</h1>
<html>
<head>
    <title>City Selection</title>
</head>
<body>
    <h2>Select a City</h2>
    <select id="cityDropdown">
        <option value="1">Morgantown, WV</option>
        <option value="2">Miami, FL</option>
        <option value="3">Tulsa, OK</option>
        <option value="4">Kansas City, KS</option>
        <option value="5">New Orleans, LA</option>
        <option value="6">Maui, HI</option>
        <option value="7">San Diego, CA</option>
        <option value="8">Oklahoma City, OK</option>
        <option value="9">Houston, TX</option>
        <option value="10">Huntsville, AL</option>
    </select>
    <button onclick="handleCitySelection()">Submit</button>
    <script>
        function handleCitySelection() {
            var cityId = document.getElementById("cityDropdown").value;
            window.location.href = "/api/Forecast/" + cityId;
            window.location.href = "https://localhost:7231/api/Forecast/ + cityId;";
        }
    </script>
</body>
</html>